.card {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(199, 197, 197);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_img {
    width: 100%;
    border-radius: 10px;
}

.detail_container {
    padding: 5px;
}
.title {
    font-size: 20px;
    font-weight: 600;
}
.description {
    font-size: small;
}
.rating>span {
    font-size: 20px;
    font-weight: 600;
}

.card>button {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    background: #f4ac40;
    cursor: pointer;
}