.navbar {
    display: flex;
    background-color: rgb(126, 71, 209);
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    position: sticky;
    top:0;
    z-index: 1;
}

.category {
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 10px;
}
.category:hover {
    background-color: rgb(156, 110, 226);
    
}